<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Библиотека-Pandas" data-toc-modified-id="Библиотека-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Библиотека Pandas</a></span></li><li><span><a href="#Раздел-1.-Создание-таблиц-из-коллекций" data-toc-modified-id="Раздел-1.-Создание-таблиц-из-коллекций-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Раздел 1. Создание таблиц из коллекций</a></span></li><li><span><a href="#Раздел-2.-Извлечение-данных-по-условию" data-toc-modified-id="Раздел-2.-Извлечение-данных-по-условию-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Раздел 2. Извлечение данных по условию</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Работа-с-набором-данных-Financial-Sample" data-toc-modified-id="Работа-с-набором-данных-Financial-Sample-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Работа с набором данных <em>Financial Sample</em></a></span></li><li><span><a href="#Извлечение-данных-по-условию" data-toc-modified-id="Извлечение-данных-по-условию-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Извлечение данных по условию</a></span></li></ul></li><li><span><a href="#Раздел-3.-Группировка-данных" data-toc-modified-id="Раздел-3.-Группировка-данных-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Раздел 3. Группировка данных</a></span></li></ul></li></ul></div>



# Библиотека Pandas

In [2]:
import pandas as pd

# Раздел 1. Создание таблиц из коллекций

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.1</p>

Имеется *серия*, содержащая числа от 10 до 1000. Какое число содержит элемент с индексом 175? Вычислите разность элементов с индексами 900 и 16.

In [19]:
# 1.1. Ваш код здесь
s = pd.Series(range(10,1001))
print("Число с индексом 175:", s.iloc[175])
print("Разность элементов:", s.iloc[900]-s.iloc[16])

Число с индексом 175: 185
Разность элементов: 884

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.2</p>

Мебельная фабрика выпускает продукцию  наименований: диваны, кровати, трюмо. Создайте таблицу *DatаFrame*, содержащую: количество призведенной продукции каждого наименования, остаток на складе фабрики. Наименования разместите в строках, а количество и остаток в столбцах.

In [20]:
# 1.2. Ваш код здесь
market = pd.DataFrame({'name':['Divan','Krovat','Trymo'],
                        'kol_vo':[5,10,12],'ost':[10,9,4]})
market

     name  kol_vo  ost
0   Divan       5   10
1  Krovat      10    9
2   Trymo      12    4

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.3</p>

Разделите столбец **car** таблицы **market** на два столбца: **mark** (марка) и **model** (модель).

```
market = pd.DataFrame({'car':['Lada Granta','Lada Vesta','Kia Rio','Hyunday Creta'], 
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})
```

In [21]:
# 1.3. Ваш код здесь
market = pd.DataFrame({'mark':['Lada ','Lada ','Kia ','Hyunday '],
                       'model':['Granta','Vesta','Rio','Creta'],
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})
market

       mark   model  year  condition      km
0     Lada   Granta  2019         75  130000
1     Lada    Vesta  2018        104  210000
2      Kia      Rio  2010         20   75000
3  Hyunday    Creta  2015         90   94000

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.4</p>

Имеются исторические данные о цене акции в виде таблицы DataFrame.

```
history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])
```
Найдите минимальную и максимальную цены закрытия, стандартное отклонение цены открытия, среднее значение самой низкой (Low) цены и медиану самой высокой (High) цены.

In [3]:
# 1.4. Ваш код здесь
history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])
history

            Open  Low  High  Close
2020-12-07   150   20   140    140
2020-12-08   140   31   152    150
2020-12-09   147   17   180    164
2020-12-10   129   33   150    167

In [5]:
#минимальная и максимальная цена закрытия
print(history['Close'].max())
print(history['Close'].min())

167
140

In [24]:
# стандартное отклонение цены открытия
history['Open'].std()

9.327379053088816

In [25]:
#среднее значение самой низкой (Low) цены 
history['Low'].mean()

25.25

In [26]:
#медиану самой высокой (High) цены.
history['High'].median()

151.0

# Раздел 2. Извлечение данных по условию

### Работа с набором данных *Financial Sample*

In [ ]:
with open('../Data/FinancialSampleFields.csv', encoding='utf-8') as f:
  content = f.readlines()
  content = [x.replace('\n','').split(';') for x in content]

pd.DataFrame(content[1:],columns = content[0])

### Извлечение данных по условию

Использование условий позволяет выбирать только отвечающие условиям данные.

Примеры:

`fs[fs['SalePrice']>90] # отобрать результаты, для которых цена продажи больше 90`

В результате операции сравнения в квадратных скобках создается список из *True* и *False*, который показывает, какие строки *DataFrame* нужно оставить, а какие убрать.

`fs[fs['Discounts']>fs['Discounts'].mean()] # результаты, для которых сумма скидок превышает среднюю сумму скидок`

Условия можно комбинировать, используя операторы **&** (логическое И) и | (логическое ИЛИ).

`fs[(fs['Discounts']>fs['Discounts'].mean()) & (fs['UnitsSold']<fs['UnitsSold'].mean())].sort_values('Country') # сумма скидок выше среднего, продано товара ниже среднего по выборке`

`fs[fs['Segment']=='Enterprise']['COGS'].mean() # найти среднюю себестоимость товаров промышленного (Enterprise) сегмента`

Проверьте приведенные примеры в своих ноутбуках.

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.1</p>

Загрузите этот набор данных в таблицу *DataFrame*. Какова сумма валовых продаж (GrossSales) товаров, произведеных *Amarilla* для малого бизнеса?

In [7]:
# 2.1. Ваш код здесь
fs = pd.read_csv('C:/Users/maksi/OneDrive/Рабочий стол/Data/FinancialSample3.csv', sep=';')
fs

,Id,Segment,Country,Product,DiscountBand,UnitsSold,ManufacturingPrice,SalePrice,GrossSales,Discounts,Sales,COGS,Profit,Date,MonthNumber,MonthName,Year
0,1,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.0,16185.0,16185.000,2014-01-01,1.0,January,2014.0
1,2,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.0,13210.0,13210.000,2014-01-01,1.0,January,2014.0
2,3,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,0.00,32670.0,21780.0,10890.000,2014-06-01,6.0,June,2014.0
3,4,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.0,8880.0,4440.000,2014-06-01,6.0,June,2014.0
4,5,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.0,24700.0,12350.000,2014-06-01,6.0,June,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,1396,Small Business,Albania,Carretera,Green,2348.0,97.0,164.9,10772.0,18.32,10666.0,7540.4,3871.852,2014-12-13,12.0,December,2014.0
1396,1397,Government,Finland,Montana,Green,2184.0,115.0,195.5,19337.0,21.72,16125.0,13535.9,4269.720,2014-11-24,11.0,November,2014.0
1397,1398,Enterprise,Albania,Velo,Medium,2756.0,73.0,124.1,17624.0,13.79,15757.0,12336.8,3420.196,2014-04-20,4.0,April,2014.0
1398,1399,Enterprise,Mexico,Nice,Green,2060.0,64.0,108.8,19143.0,12.09,21038.0,13400.1,2241.280,2014-11-10,11.0,November,2014.0
1399,1400,Enterprise,Mexico,Paseo,Green,2922.0,58.0,98.6,19885.0,10.96,1793.0,13919.5,2881.092,2014-10-16,10.0,October,2014.0

In [29]:
a = fs[(fs['Segment'] == 'Small Business') & (fs['Product']=='Amarilla')] 
b = a['GrossSales'].sum()
print(b)

5024400.0

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.2</p>

Определите среднюю стоимость производства (ManufacturingPrice) товаров, выпущенных для Мексики стоимостью (SalePrice) выше, чем стоимость 70% товаров.

In [30]:
# 2.2. Ваш код здесь
mexico_fs = fs[fs['Country'] == 'Mexico'] 
mexico_fs = mexico_fs[mexico_fs['SalePrice'] > 0.7 * mexico_fs['SalePrice'].max()]
mean = mexico_fs['ManufacturingPrice'].mean() 
mean

99.075

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.3</p>

Найдите минимальную цену производства товара правительственого сегмента, для которого цена продажи ниже цены производства.

In [31]:
# 2.3. Ваш код здесь
gov = fs[fs['Segment'] == 'Government']
gov= gov[gov['SalePrice'] < gov['ManufacturingPrice']]
minim = gov['ManufacturingPrice'].min()
minim

10.0

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.4</p>

Какова средняя цена товара, стоимость производства которого ниже средней?

In [32]:
# 2.4. Ваш код здесь
mean_ = mexico_fs['SalePrice'].mean()
filtered_data = mexico_fs[mexico_fs['SalePrice'] < mean_]
average_price = filtered_data['SalePrice'].mean()
print(average_price)

300.0

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.5</p>

Во сколько раз средняя себестоимость (COGS) товаров промышленного сегмента (Enterprize) отличается от средней себестоимости товаров малого бизнеса?

In [9]:
# 2.5. Ваш код здесь
enterprize = fs[fs['Segment'] == 'Enterprise']['COGS'].mean()
small_business = fs[fs['Segment'] == 'Small Business']['COGS'].mean()
sred_sebest = enterprize / small_business
print(sred_sebest)

0.5714966377808542

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.6</p>

Какова суммарная прибыль всех сделок в правительственном сегменте, заключенных компаниями Carretera и Paseo?

In [49]:
# 2.6. Ваш код здесь
dann = fs[(fs['Segment'] == 'Government') & (fs['Product'].isin(['Carretera','Paseo']))]
itog = dann['Profit'].sum()
print(itog)

4528986.045000001

## Раздел 3. Группировка данных

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.1</p>

Сколько разных систем скидок представлено в таблице?

In [33]:
# 3.1. Ваш код здесь
discont = fs['Discounts'].unique()
ynik = len(discont)
print("Кол-во различных систем скидок:", ynik)

Кол-во различных систем скидок: 586

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.2</p>

Какая из систем скидок применяется реже всего?

In [34]:
# 3.2. Ваш код здесь
diskonts = fs['Discounts'].value_counts()
print("система применятеся реже:", diskonts.index[-1])

система применятеся реже: 23737.5

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.3</p>

Сколько раз представлены в выборке разные страны?

In [35]:
# 3.3. Ваш код здесь
country = fs['Country'].unique()
print("Кол-во стран в выборке", len(country))

Кол-во стран в выборке 9

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.4</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [5]:
# 3.4. Ваш код здесь
canada = fs[fs['Country'] == 'Canada']
interval = pd.cut(canada['COGS'], bins = 6 )
print(interval)

0         (335.66, 159508.333]
7         (335.66, 159508.333]
11      (317731.667, 475955.0]
14        (335.66, 159508.333]
16        (335.66, 159508.333]
                 ...
1327      (335.66, 159508.333]
1341      (335.66, 159508.333]
1356      (335.66, 159508.333]
1360      (335.66, 159508.333]
1371      (335.66, 159508.333]
Name: COGS, Length: 213, dtype: category
Categories (6, interval[float64, right]): [(335.66, 159508.333] < (159508.333, 317731.667] < (317731.667, 475955.0] < (475955.0, 634178.333] < (634178.333, 792401.667] < (792401.667, 950625.0]]

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.5</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [ ]:
# 3.5. Ваш код здесь